/docker/volumes/mediawiki/images/deleted
/docker/volumes/mediawiki/images/lockdir
/docker/volumes/mediawiki/images/thumb
/docker/volumes/mediawiki/images/temp
/docker/volumes/phpbb/images
/docker/volumes/phpbb/files
/docker/volumes/phpbb/store
/docker/volumes/phpbb/styles
/docker/volumes/phpbb/config.php
/static/maps/
/static/tmp/
*.lock
*.secret
